<?php

/*
 * Copyright (c) {{ copyright }}
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

declare(strict_types=1);

namespace {{ namespace }};

use {{ ormNamespace }}\RepositoryInterface;

/**
 * {{ className }} repository interface.
 *
 * @author {{ author }}
 */
interface {{ className }}RepositoryInterface extends RepositoryInterface
{
}
