parameters:
  phpVersion: 80300
  level: 0
  paths:
    - ./../src
    - ./../tests

  bootstrapFiles:
    - ./../vendor/autoload.php

  ignoreErrors:
    - '`Call to an undefined method Eureka\\Component\\Orm\\RepositoryInterface::.+`'
