name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ci:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ '8.3', '8.4', '8.5' ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      #~ PHP Setup
      - name: Setup PHP ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      #~ Composer Cache
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      #~ Composer install
      - name: Validate composer.json
        run: composer validate

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: make install

      #~ CI part
      - name: Dependencies
        run: make php/deps

      - name: Check Code Style
        run: make php/check

      - name: Units Tests
        run: make php/tests

      - name: Fix unit tests report path
        run: |
          sed -i 's+'$GITHUB_WORKSPACE'+/github/workspace+g' build/reports/phpunit/clover.xml
          sed -i 's+'$GITHUB_WORKSPACE'+/github/workspace+g' build/reports/phpunit/unit.xml

      - name: PHP Static Analyze
        run: make php/analyze
